/* for page component */
.card-body{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
lightning-combobox{
    margin-bottom: 8px;
}
.message{
    color: rgb(62, 62, 60);
    font-style: italic;
    margin-top: 5px;
}
.button-container{
    text-align: right;
}
.slds-p-horizontal_small{
    padding-left: 0px;
}

/* for modal */
.slds-grid{
    padding: 1rem;
}
lightning-input-field{
    font-size: 13.3333px;
}
.slds-modal__footer{
    background-color: white;
}
.small-button{
    font-size: 13px;
}